.shelter-page-body
  margin-top: 56px

.shelters-wrapper
  width: 1170px
  position: relative
  overflow: hidden
  margin: 0px auto

  h2
    font-size: 48px
    letter-spacing: -0.03em
    margin-left: 51px

  span
    color: #713EDD

  .shelter-list
    background: #EFF1F4
    border-radius: 50px
    margin-top: 40px

.dog-shelter
  position: absolute
  z-index: -10
  top: 0px
  left: 900px

.btn-shelter
  text-decoration: none
  color: black
