@import "src/app/styles/mixins.sass"
@import "src/app/styles/colors.sass"

footer
  background: white
  border-top: 1px solid $c-light-grey
  width: 100%
  margin-top: 100px
  z-index: 2

.footer-wrapper
  max-width: 1200px
  width: 100%
  margin: 0px auto
  display: flex
  padding: 24px 0px


.mail
  display: flex
  align-items: center

  p
    padding-bottom: 0px
    margin: 0px 0px 0px 10px

.call
  margin-left: 32px
  display: flex
  align-items: center

  p
    padding-bottom: 0px
    margin: 0px 0px 0px 10px

@include screenMax1250
  .footer-wrapper
    max-width: 1100px
    width: 100%

@include screenMax1100
  .footer-wrapper
    max-width: 900px
    width: 100%


@include screenMax850
  .footer-wrapper
    max-width: 750px
    width: 100%


@include screenMax730
  .footer-wrapper
    max-width: 550px
    width: 100%
    flex-flow: column
    justify-content: space-between
    align-items: center
    text-align: center

    .call
      margin-top: 12px
      margin-left: 0px

@include screenMax500

    .footer-wrapper
      max-width: 400px
      width: 100%

@include screenMax375
    .footer-wrapper
      max-width: 343px
      width: 100%
      margin: 0px auto



