$font-stack: Muller, sans-serif

h1,h2,h3,p,span,a,button
  font-family: $font-stack

.header
  width: 1170px
  display: flex
  align-items: center
  justify-content: space-between
  margin: 0 auto
  margin-top: 40px

  img
    width: 203px
    height: 24px

.navigation

  nav
    display: flex
    align-items: center

    a
      text-decoration: none
      font-weight: 400
      font-size: 16px
      color: rgba(0, 0, 0, 0.5)
      margin-right: 48px

    a:hover
      color:  #19063D

    a:last-child
      margin-right: 0px

.profile-header
  display: flex
  align-items: center

  img
    width: 20px
    height: 20px

  a
    text-decoration: none
    font-weight: 400
    font-size: 16px
    color: rgba(0, 0, 0, 0.5)
    margin-left: 16px

  a:hover
    color:  #19063D