@import "src/app/styles/mixins.sass"
@import "src/app/styles/colors.sass"

.news-page-body
  max-width: 1200px
  width: 100%
  margin: 76px auto 0

.news-wrapper

  h2
    margin-left: 69px
    font-size: 48px
    color: $c-yellow

.news-list
  background: #EFF1F4
  border-radius: 50px
  margin-top: 40px


@include screenMax1250
  .news-page-body
    max-width: 1100px
    width: 100%

@include screenMax1100
  .news-page-body
    max-width: 900px
    width: 100%

@include screenMax850
  .news-page-body
    max-width: 750px
    width: 100%

@include screenMax730
  .news-page-body
    max-width: 550px
    width: 100%

@include screenMax500
  .news-page-body
    max-width: 400px
    width: 100%

    h2
      font-size: 32px

@include screenMax375
  .news-page-body
    max-width: 343px
    width: 100%

  .news-list
    margin: 0 auto