.news-page-body
  max-width: 1200px
  width: 100%
  margin: 76px auto 0

.news-wrapper

  h2
    margin-left: 69px
    font-size: 48px
    color: #EDB507

.news-list
  background: #EFF1F4
  border-radius: 50px
  margin-top: 40px


@media screen and (max-width: 1250px)
  .news-page-body
    max-width: 1100px
    width: 100%


@media screen and (max-width: 1100px)
  .news-page-body
    max-width: 900px
    width: 100%



@media screen and (max-width: 850px)
  .news-page-body
    max-width: 750px
    width: 100%


@media screen and (max-width: 730px)
  .news-page-body
    max-width: 550px
    width: 100%

@media screen and (max-width: 500px)
  .news-page-body
    max-width: 400px
    width: 100%

    h2
      font-size: 32px


@media screen and (max-width: 375px)
  .news-page-body
    max-width: 343px
    width: 100%