.card-wrapper
  padding-top: 40px
  display: flex
  justify-content: space-between
  width: 1068px
  margin: 0 auto

  .image-description
    display: flex
    align-items: center

  img
    width: 300px
    height: 200px
    border-radius: 20px

.card-wrapper:last-child
  padding-bottom: 40px


.information-card
  width: 527px
  margin-left: 24px

  h3
    color: #713EDD
    font-size: 32px
    letter-spacing: -0.03em
    margin: 0px

  p
    font-weight: 400
    font-size: 16px
    line-height: 148%
    margin: 22px 0px

.address-wrapper
  display: flex
  align-items: center

  p
    margin: 0px
    line-height: 148%
    margin-left: 8px