.news-card-wrapper
  max-width: 1033px
  display: block
  margin: 0 auto
  padding-top: 40px

  .image-description
    width: 100%
    display: flex
    align-items: center
    justify-content: space-between

    img
      width: 300px
      height: 200px
      border-radius: 20px

    .information-news-card
      max-width: 700px
      width: 100%

      h3
        font-size: 30px
        color: #0C73FE
        letter-spacing: -0.03em
        margin: 0

      p
        color: rgba(0, 0, 0, 0.7)
        font-size: 18px
        letter-spacing: -0.03em
        line-height: 140%
        margin: 20px 0px

      .description-mobile
        display: none

    .date-wrapper
      display: flex
      align-items: center

      p
        margin: 16px 0px 0px 16px

.news-card-wrapper:last-child
  padding-bottom: 40px


@media screen and (max-width: 1250px)
  .news-card-wrapper
    max-width: 1000px

    .image-description

      img
        width: 290px
        height: 200px

      .information-news-card
        max-width: 680px

        h3
          font-size: 27px
          color: #0C73FE
          letter-spacing: -0.03em
          margin: 0

        p
          color: rgba(0, 0, 0, 0.7)
          font-size: 18px
          letter-spacing: -0.03em
          line-height: 138%
          margin: 15px 0px

        .date-wrapper

          p
            margin: 0px 0px 0px 16px



@media screen and (max-width: 1100px)
  .news-card-wrapper
    max-width: 820px

    .image-description
      img
        width: 250px
        height: 200px

      .information-news-card
        max-width: 550px

        h3
          font-size: 27px
          color: #0C73FE
          letter-spacing: -0.03em
          margin: 0

        p
          color: rgba(0, 0, 0, 0.7)
          font-size: 16px
          letter-spacing: -0.03em
          line-height: 138%
          margin: 15px 0px

        .date-wrapper

          p
            margin: 0px 0px 0px 16px

@media screen and (max-width: 850px)
  .news-card-wrapper
    max-width: 700px

    .image-description
      img
        width: 230px
        height: 190px

      .information-news-card
        max-width: 440px

        h3
          font-size: 24px

        p
          font-size: 15px
          line-height: 138%
          margin: 12px 0px

        .date-wrapper

          p
            margin: 0px 0px 0px 16px



@media screen and (max-width: 730px)
  .news-card-wrapper
    max-width: 510px

    .image-description
      align-items: normal

      img
        width: 200px
        height: 160px

      .information-news-card
        max-width: 250px

        h3
          font-size: 28px
          margin-bottom: 12px

        .description
          display: none

        .description-mobile
          display: flex
          align-items: center
          border: 0px
          background: transparent
          padding: 0px

          p
            margin-right: 16px
            font-size: 18px
            font-weight: 500




@media screen and (max-width: 500px)
  .news-card-wrapper
    max-width: 350px

    .image-description
      align-items: normal

      img
        width: 150px
        height: 130px

      .information-news-card
        max-width: 180px

        h3
          font-size: 24px
          margin-bottom: 12px

        .description
          display: none

        .description-mobile
          display: flex
          align-items: center
          border: 0px
          background: transparent
          padding: 0px

          p
            margin-right: 12px
            font-size: 16px
            font-weight: 500


@media screen and (max-width: 375px)
  .news-card-wrapper
    max-width: 315px

    .image-description
      align-items: normal

      img
        width: 140px
        height: 120px

      .information-news-card
        max-width: 160px

        h3
          font-size: 22px
          margin-bottom: 12px

        .description
          display: none

        .description-mobile
          display: flex
          align-items: center
          border: 0px
          background: transparent
          padding: 0px

          p
            margin-right: 12px
            font-size: 15px
            font-weight: 500

