.home-page-body
  position: relative
  min-height: 100%

.main-information-wrapper
  width: 1170px
  margin: 40px auto
  display: flex
  align-items: center
  justify-content: space-between

  h1
    font-weight: 700
    font-size: 56px
    line-height: 95%
    letter-spacing: -0.03em
    color: #19063D

    span
      color: #EDB507

  p
    font-weight: 400
    font-size: 18px
    line-height: 165%
    color: rgba(0, 0, 0, 0.7)
    margin-top: 32px
    margin-bottom: 32px



.main-btns-wrapper
  display: flex
  align-items: center

  button
    padding: 23px 56px
    border-radius: 50px
    font-weight: 700
    font-size: 18px
    margin-right: 20px

  button:last-child
    margin-right: 0px

  .btn-help
    border: 0px
    background: #713EDD
    color: white
    cursor: pointer
    transition: 400ms

  .btn-help:hover
    box-shadow: 0px 30px 40px rgba(113, 62, 221, 0.2)
    margin-top: -15px
    transition: 400ms

  .btn-discover
    background: transparent
    border: 1px solid #EDB507
    color: #4D4D4D
    cursor: pointer
    transition: 400ms

  .btn-discover:hover
    margin-top: -15px
    background: #EDB507
    box-shadow: 0px 30px 40px rgb(215, 215, 38, 0.2)
    color: white
    transition: 400ms