.volunteering-wrapper
  width: 1170px
  margin: 0 auto
  margin-top: 88px

  h2
    font-size: 48px
    letter-spacing: -0.03em

    span
      color: #0C73FE


  .block-information-wrapper

    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 22px


    p
      font-weight: 400
      font-size: 18px
      line-height: 180%
      letter-spacing: -0.03em
      color: rgba(0, 0, 0, 0.7)
      width: 496px


    img
      border-radius: 20px
      width: 575px
      height: 400px

  .second-wrapper
    display: flex
    align-items: center
    justify-content: space-between
