.volunteering-wrapper
  width: 1170px
  margin: 0 auto
  margin-top: 123px

  .top-content
    margin-bottom: 48px

    img
      width: 100%


  .info-block-wrapper
    p
      font-weight: 400
      line-height: 170%
      color: rgba(25, 6, 61, 0.7)

    .initial-text
      align-items: center
      display: flex
      width: 966px
      font-size: 18px
      text-align: center
      margin: auto

    .first-paragraph
      margin-top: 48px
      width: 989px
      display: flex

      .first-text
        margin-left: 40px
        width: 542px
        font-size: 16px
        margin-right: 141px

    .second-paragraph
      display: flex
      margin-top: 53px
      margin-bottom: 137px

      .shine-svg
        margin-left: 64px

      .second-text
        width: 647px
        font-size: 16px
        margin-left: 111px
        margin-right: 40px